{% extends "base.html" %}
{% block title %}Internal Error{% endblock %}

{% block content %}
<div class="card max-w-2xl mx-auto text-center">
    <div class="card-content">
        <i class="fa fa-server fa-5x text-red-500 mb-6"></i>
        <h1 class="text-4xl font-bold text-gray-800">500 - Internal Server Error</h1>
        <p class="text-lg text-gray-600 mt-4">
            Sorry, something went wrong on our end. We are looking into it.
        </p>
        <div class="mt-8">
            <a href="{{ url_for('dashboard') }}" class="btn btn-main-action">
                <i class="fa fa-home mr-2"></i> Go to Dashboard
            </a>
        </div>
    </div>
</div>
{% endblock %}